*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.navcontainer{
    width: 100vw;
    /* background-color: rgb(198, 129, 25); */
    background: linear-gradient(90deg, #efe6da 0.000%, #e5d7ca 16.667%, #dac7b9 33.333%, #cfb6a9 50.000%, #c4a699 66.667%, #b9968b 83.333%, #af887e 100.000%);
    align-items: center;
    position: relative;
}

nav{
    width: 100%;
    padding-right: 2rem;
}
#navlist{
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    list-style: none;
    font-size: 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#firstpara{
    font-size: 2.8rem;
    color:rgb(81, 62, 15);
}
a{
    text-decoration: none;
    color: azure;
}
#navitem{
    display: flex;
    gap: 40px;
}
.footerbox{
    
    background: linear-gradient(90deg, #efe6da 0.000%, #e5d7ca 16.667%, #dac7b9 33.333%, #cfb6a9 50.000%, #c4a699 66.667%, #b9968b 83.333%, #af887e 100.000%);
    width: 100%;
    
    text-align: center;
    min-height: 30px;
}
.footerbox p{
color: #83500d;
font-size: 2rem;
}
.contentbox{
    width :50%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    background-color: rgb(227, 220, 253);
    box-shadow: 0px 0px 40px rgb(16, 18, 38);
}
.item{
    display: flex;
    justify-content: space-around;
}
.rightbox img{
    height: 300px;
    border-radius:20px;
    transition: all 0.6s linear 0s;
    
}
.rightbox:hover{
    transform:scale(1.1);
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#ingbox{
    font-size :1.1rem;
    text-decoration: none;

}
#reciepebox{
    font-size: 1.1rem;
    text-decoration: none;
}
.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.5s linear 0s;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}
.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(36, 34, 34, 0.713);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s linear 0s;
}
.rightbox:hover .overlay{
    opacity: 1;
}
.rightbox .overlay span{
 color:white;
 font-size: 1.2rem;
}
